<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <link rel="icon" type="image/png" href="../static/styles/logo-mono.png" />
    <title>sayIt Playground API | Sign In Form</title>
  </head>

  <body>
    <div class="form-container">
      <div class="auth">
        <form
          id="login-form"
          action="{{url_for('login')}}"
          method="post"
          class="auth__form auth__form--login visibility-hidden"
        >
          <h2 class="auth__title">Login</h2>

          <div class="form-group">
            <label for="login-email" class="form-group__label">Email</label>
            <input
              type="email"
              name="email"
              id="login-email"
              class="form-group__input"
              placeholder="Enter your email"
              required
            />
          </div>

          <div class="form-group">
            <label for="login-password" class="form-group__label"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="login-password"
              class="form-group__input"
              placeholder="Enter your password"
              required
            />
          </div>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul>
            {% for message in messages %}
            <li style="color: #ffb800; font-size: 0.8rem">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <button type="submit" class="auth__submit-btn">Login</button>
          <p class="auth__switch">
            No account?
            <a href="{{url_for('register')}}" class="auth__link">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
